.table {
  display: flex;
  flex-direction: row;
}

.playerscolumn {
  list-style-type: none;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.dealscontainer {
  width: 85%;
  display: flex;
  flex-direction: row;
}

.dealcolumn {
  width: 11.11%;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  .dealheader {
    display: flex;
  }
  li {
    display : flex;
    input {
      display: flex;
      max-width: 75%;
    }
  }
}

.truncated {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.nameheader {
  .truncated();  
}

.playername {
  .truncated();
}

.dealheader {
  .truncated();
}

.playername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
